body{
    background-color: #f0f0f0;
  }
  
  .center-div {
      display: flex;
      justify-content: center;
  }
  
  .my-card{
    display: flex ;
    justify-content: center;
  }
  
  .my-header{
    margin-top: 200px;
    display: flex ;
    justify-content: center;
    text-align: center;
  }
  
  .btn-hover:hover {
    background-color: #0056b3;
    color: #fff; 
    transform: scale(1.1); 
  }
  .date-container {
    position: fixed;
    bottom: 10px; 
    left: 10px; 
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
}
.date-container:hover{
  opacity: 0.1;
}
.date {
    font-size: 24px;
    color: #333;
    margin: 0;
}